@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: "Nanum Gothic";
}

a {
    color: dimgrey;
    text-decoration: none;
}

a span {
    color: dimgrey;
}

a>div {
    display: inline-block;
    text-align: center;
}

code {
    word-wrap : wrap;
}

.pageIndicator {
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
}
.pageIndicator:before, .pageIndicator:after{
    content: "-";
    margin: 0 10px;
}

.iv-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.toggler {
    cursor: pointer;
}
#doctitle {
    position: absolute;
    top: 16%;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-stretch: -100px;
    font-weight: bold;
}

#docsubtitle {
    position: absolute;
    width: 100%;
    bottom: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#docsubtitle > span {
    font-size: 20px;
}
.title {
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    font-weight: bold;
}
.title > .period {
    font-size: 15px;
    float: right;
}
@media print {
    #historyPage .contents > .iv-container {
        display:block!important;
        overflow:inherit!important;
    }
    #historyPage .contents > .iv-container > div {
        display:none;
    }
    #historyPage .contents > div> .inimg{
        position: relative;
        display:block;
        opacity: 1!important;
        z-index: 1!important;
        width: 100%;
        cursor: pointer;
        object-fit: contain;
        transform: rotate(90deg) translateX(218px) scale(1.34);
    }
}
#historyPage > div > div.descBottom {
    font-size:15pt;
}
#historyPage > div > div.descBottom > div > span {
    font-size:18pt;
    text-decoration: underline;
}
.contents {
    width: 100%;
    height: 61%;
}
.inimg {
    float: left;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
img.inimg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}
.inimg1 {
    width: 100%;
}
.inimg2 {
    width: calc(50% - 30px);
    margin: 0 15px
}
.inimg3 {
    width: calc(33% - 10px);
    margin: 0 5px
}
.inimgGold {
    width: calc(50% - 5px);
    cursor: pointer;
}
.descBottom {
    display: flex;
    height: calc(39% - 70px);
}
.descBottom > .descSubject.descAlone {
    width: 100%;
}
.descBottom > .descSubject {
    width: 61%;
}
.descBottom > .techStack {
    width: 39%;
}
.descGold > .techStack {
    width: 100%;
    margin-bottom:50px;
}
.descGold {
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(50% - 5px);
    padding:5px;
    height: 100%;
    margin-left: 10px;
}
.descWhole {
    margin-top: 30px;
    height: calc(100% - 100px);
}
.descWhole > h2 {
    margin: 10px 0 0 0;
    font-size: 15pt;
    cursor: pointer;
}
.descWhole > h3 {
    width: calc(100% - 40px);
    margin:0 0 0 40px;
    font-size: 12pt;
    cursor: pointer;
}
.descWhole > h2 > span, .descWhole > h3 > span {
    float: right;
    font-size:20px;
    margin-right: 20px;
}
.screens {
    justify-content: space-between;
    /*align-content: space-around;*/
    row-gap:20px;
    flex-flow: row wrap;
    overflow:overlay;
    overflow:auto;
}
.screen {
    width: 144px;
    height: 164px;
    cursor: pointer;
}
.screen.empty {
    height: 0;
    cursor: default;
}
.screen > .screenImg {
    width: 144px;
    height: 144px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.screen > .screenTitle {
    width: 144px;
    height:20px;
    font-size: 12px;
    text-align: center;
}
