:root {
    --page-width: 210mm;
    --page-height: 297mm;
    --page-padding: 10mm;
    --content-height: 276mm;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
}

.page {
    position: relative;
    width: var(--page-width);
    min-height: var(--page-height);
    padding: var(--page-padding);
    margin: 32px auto;
}

.subpage {
    position: relative;
    height: var(--content-height);
    padding-bottom: var(--space-8);
    display: flex;
    flex-direction: column;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html {
        scroll-behavior: auto;
    }

    .page {
        width: auto;
        min-height: auto;
        margin: 0;
        page-break-after: always;
        break-after: page;
        box-shadow: none;
    }

    .page:last-child {
        page-break-after: auto;
        break-after: auto;
    }

    .subpage {
        height: var(--content-height);
        padding-bottom: var(--space-8);
    }
}
